/* adminLogin.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #f8f9fa;/* Set your desired background color */
}

.banner-container {
    position: relative;
    text-align: center;
}

img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 25%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    z-index: 2;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for better readability */
}

.card-body {
    padding: 20px;
}

/* Customize additional styles as needed */
