.navbar-cart{
    text-align: right;
    color: crimson;
    /* padding-right: 75px; */
    margin-right: 15px; /* Adjust the margin as needed */
}
#navbar-select{
    font-weight: bold;
}
#cart-img{
    padding-right: 10px;
    width: 40px; /* Adjust the width of the cart image */
    height: auto; /* Maintain the aspect ratio */
}
.cart-container{
    /* padding-right: 10px; */
    display: flex;
    align-items: center;
}
.navbar-backtomachine{
    text-align: right;
    color: crimson;
    padding-right: 75px;
}


.display-machine{
    font-size: small;
    padding-left: 50px;
    padding-top: 25px;
    color: crimson;
    text-decoration: underline;
}

.product-table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.card{
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    background-color: #EF4A4A;
    color: white;
    font-weight: bold;
    height: 450px;
}
.card-img{
    width: 100px;
    height: 100px;
    margin: 0 auto;  /* Center the image horizontally */
    max-width: 100%; /* Make sure the image doesn't exceed the container width */
    display: block;
    height: 150px; /* Set a fixed height for all images (adjust as needed) */
    object-fit: cover;
  }
.add-to-cart{
    background-color: white;
}

#cart-rows{
    height: 50%;
    width: 50%;
    font-weight: bold !important;
    color: crimson !important;
}
#cart-table{
    border: 2px solid #000;
    margin: 0 auto !important;
    max-width: 600px !important;
    margin-top: 50px !important;
    position: relative; /* Set position to relative */
    z-index: 1; /* Set a higher z-index to make it appear over other elements */

    
}
#cart-table tr {
    border-bottom: 2px solid #000;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
#display-info-cart{
    color: crimson;
    text-decoration: underline;
}

.total-row{
    font-weight: bold !important;
    text-decoration: underline;
}
.receipt-box{
    margin-top: 50px;
    margin-left: 50px;
    width: 40%;
    float: left;
    border: 2px solid #000;
    box-sizing: border-box;
}
#receipt-title{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.card-info{
    margin-top: 50px;
    margin-right: 50px;
    width: 40%;
    float: right;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.extra-info-box{
    text-align: center;
}

.machines-choose{
    padding-top: 50px;
    float: left;
    margin: auto; /* Center the table */
    max-width: 800px;
}
.card {
    margin-bottom: 15px; /* Add some space between cards */
    height: 100px;
    width:200px;
}

.banner-img{
    height: 400px;
    width: 100%;
}
.indiv-card{
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    background-color: #EF4A4A;
    color: white;
    font-weight: bold;
    height: 350px;
}

.cart-img{
    width: 100px;
    height: 100px;
    margin: 0 auto;  /* Center the image horizontally */
    max-width: 100%; /* Make sure the image doesn't exceed the container width */
    display: block;
    height: 150px; /* Set a fixed height for all images (adjust as needed) */
    object-fit: cover;
}
.table-container {
    max-height: 300px; /* Set the desired height */
    overflow-y: auto;
}
#display-info-cart,
.btn-checkout {
    margin-top: 20px; /* Adjust the margin as needed */
}

#more-info-img{
    padding-top: 15px;
    height: 150px;
    object-fit: contain;
}
#more-info-card {
    height: 400px;
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Increased blur radius to 30px */
}
#more-info-button{
    margin-top: 5px;
    height: 25px;
    font-size: small;
    text-align: center;
    line-height: 1px;

}

.close-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
  }

.exp-date-container {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}
