.navbar-cart{
    text-align: right;
    color: crimson;
    padding-right: 75px;
}
#navbar-select{
    font-weight: bold;
}
#cart-img{
    width: 12.5%;
    height: 12.5%;
    padding-right: 10px;
}
.cart-container{
    padding-right: 10px;
}
.navbar-backtomachine{
    text-align: right;
    color: crimson;
    padding-right: 75px;
}


.display-machine{
    font-size: small;
    padding-left: 50px;
    padding-top: 25px;
    color: crimson;
    text-decoration: underline;
}

.product-table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.card{
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    background-color: #EF4A4A;
    color: white;
    font-weight: bold;
    height: 450px;
}
.card-img{
    width: 100px;
    height: 100px;
  }
.add-to-cart{
    background-color: white;
}

#cart-rows{
    height: 50%;
    width: 50%;
    font-weight: bold !important;
    color: crimson !important;
}
#cart-table{
    border: 2px solid #000;
    margin: 0 auto !important;
    max-width: 600px !important;
    margin-top: 50px !important;
    
}
#cart-table tr {
    border-bottom: 2px solid #000;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
#display-info-cart{
    color: crimson;
    text-decoration: underline;
}

.total-row{
    font-weight: bold !important;
    text-decoration: underline;
}
.recipt-box{
    margin-top: 50px;
    margin-left: 50px;
    width: 40%;
    float: left;
    border: 2px solid #000;
    box-sizing: border-box;
}
#recipt-title{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.card-info{
    margin-top: 50px;
    margin-right: 50px;
    width: 40%;
    float: right;
}
.extra-info-box{
    text-align: center;
}

.machines-choose{
    padding-top: 50px;
    float: left;
    margin: auto; /* Center the table */
    max-width: 800px;
}
.card {
    margin-bottom: 15px; /* Add some space between cards */
    height: 100px;
    width:200px;
}

.banner-img{
    height: 400px;
    width: 100%;
}